<!DOCTYPE html>

<html>
  <head>
    <title>File Metadata</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="../public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>File Metadata Microservice</h1>
      <p>Please upload a file to see its metadata:</p>

      <form
        id="uploadForm"
        enctype="multipart/form-data"
        method="POST"
        action="/api/fileanalyse"
      >
        <input id="inputfield" type="file" name="upfile" required />
        <br />
        <input id="button" type="submit" value="Upload" />
      </form>

      <div id="result"></div>
    </div>

    <div class="footer">
      <p>
        by
        <a href="https://github.com/ouafcode/" target="_blank">Ouafae Saim</a>
      </p>
    </div>
  </body>
</html>
